<%= current_user.name %>

<h4>Import the data</h4>
<%= form_tag csv_import_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>

<h1>Courses you're enrolled in</h1>
<% flash[:notice] = "New grade!" %>
<ul>
  <% @grades.each do |grade| %>
  <li>
    <h4><%= grade.course.name %></h4>
    <p>Academic Grade: <%= grade.academic %> </p>
    <p>Communication Grade: <%= grade.communication %> </p>
    <p>Team Grade: <%= grade.team_work %> </p>

  </li>

  <% end %>
</ul>




